.caixa{
    background-color: rgb(0, 0, 0);

}
.title{
    color: white!important;
    font-weight: bold!important;
}
.button{
    border-color: white;
    background-color: #0e1e79!important;
    color: white!important;
}
.posts{
    background-color: white;
}
.gif{
    width: 500px;
}